
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container d-flex">
        <a class="navbar-brand" href="/">
            <img src="../../assets/Imagens/Logo.svg" class="d-inline-block align-text-center logo">
        </a>
        <div class="endereco">
          <mat-icon class="info">code</mat-icon>
          <h2>{{endereco}}</h2>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPrincipal" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navPrincipal">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link" id="divisor">|</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/postagens">Postagens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/albuns">Albuns</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/todos">Todos</a>
                </li>
              </ul>
        </div>
    </div>
    
  </nav>
