#tabela{
  margin-bottom: 100px;
}

.full-width-table {
  width: 100%;
}

td .matcell{
  margin-left: 50px;
  padding-left: 50px;
}

.mat-sort-header-container {
  margin: 0px 100px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-right: 30px;
  padding-bottom: 5px;
}

.busca-id{
  display: flex;
  flex-direction: column;
}

.input-busca{
  width: 100%;
}

.input-width {
  width: 80%;
}

.mat-raised-button{
  width: 25%;
}

.obs{
  margin-left: 10px;
  margin-bottom: 10px;
  color: red;
  font-size: 0.8em;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 377px) {

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

  

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

  

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  }

