<app-header></app-header>

<div class="container" style="margin-bottom: 100px; margin-top: 20px;">

    <div style="margin-bottom: 10px;">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Faça uma busca avançada
                    </mat-panel-title>
                    <mat-panel-description>
                        Você pode aplicar alguns filtros nos resultados
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="container">
                    <div class="row buscas">

                        <div class="col-12 col-md-6">
                            <div class="row">
                                <form [formGroup]="buscaIdForm">
                                <div class="col-8">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Busca por id</mat-label>
                                            <input matInput placeholder="Ex. 1" [(ngModel)]="id" formControlName="id">
                                            <mat-error *ngIf="buscaIdForm.controls.id.hasError('required')">
                                                Para buscar por Id digite um número
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <button mat-raised-button color="primary"
                                        (click)="buscaAlbumById()" [disabled]="!buscaIdForm.valid" class="botao-pesquisa">Busca</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="row">
                                <form [formGroup]="buscaUserIdForm">
                                <div class="col-8">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Busca por userId</mat-label>
                                            <input matInput placeholder="Ex. 1" [(ngModel)]="userId" formControlName="userId">
                                            <mat-error *ngIf="buscaUserIdForm.controls.userId.hasError('required')">
                                                Para buscar por userId digite um número
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <button mat-raised-button color="primary"
                                        (click)="buscaAlbumsByUserId()" [disabled]="!buscaUserIdForm.valid" class="botao-pesquisa">Busca</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="row filtro-todos">
                        <button mat-raised-button color="primary" (click)="getAlbuns()" class="botao-todos">Todas os Albuns</button>
                    </div>
                        

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <app-table-albuns [albuns]="albuns" *ngIf="(albuns.length > 0)"></app-table-albuns>


    <div class="spinner">
        <mat-spinner *ngIf="(albuns.length == 0 && noAlbuns == false)"></mat-spinner>
    </div>

    <div class="container semItens" *ngIf="(noAlbuns == true)">
        <img src="../../assets/Imagens/yoda.svg" class="icon-no-items">
        <h3>Nenhum item encontrado</h3>
    </div>


</div>


<app-footer></app-footer>